
body{
    display:block;
    font-family: 'Times New Roman', Times, serif;
}

.container
{
    position: relative;
    background-image:url(https://source.unsplash.com/1600x900/?nature,water);
    height: 48rem;
    width: 100%;
    display: block;
    left:0px;
    background-repeat: no-repeat;
}
.heder
{
    height: 60px;
    width:100%;
    background-color:#000000;
    border-bottom:2px solid #00ff99;
    padding-top: 50px;
    font-size: 40px;
    color:chartreuse;
    font-weight: 800;
    text-shadow: #051f1f;
    border-radius: 10px;
}
.btn{
    position:absolute;
    top:45px;
    left:43%;
}
button{
     color:black;
     font-weight: bold;
     font-size: large;
     background-color:yellow;
     height:50px;
     width:240px;
}
button:hover{
    background-color: lightblue;
}
#data
{
    width:99%;
    height:450px;
    text-align: right;
    justify-content: center;
    display: flex;
}
.table
{
    width:800px;
}
table{
    color:rgb(8, 8, 8);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font: 700;
}

.face_image:hover{
    transform: scale(120%);
    border-radius: 50%;
    border: 2px solid grey;
}
.face_name:hover{
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
}
.face_mail:hover{
    background-color: rgb(7, 56, 75);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
}

#heading{
    position:absolute;
    top:5px;
    left:42%;
}